@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body ,html {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background: #191919;
}
#root{
    background: rgb(247, 247, 247);
}
